html {
  min-height: 100%;
  background-image: linear-gradient(#d2a4c3, #9dc0aa);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: transparent;
}

.landingPage {
  height: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  margin: 2rem 1rem 0 1rem;
  font-size: 1rem;
  text-align: center;
}

.fancy-font {
  font-family: "Amatic SC";
  text-align: center;
}

.carouselImg {
  width: 100%;
}

.recipeImg {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2rem;
  border: solid #9dc0aa 0.2rem;
  border-radius: 0.2rem;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

.packing-message {
  text-align: center;
  color: #ffffff;
  background-color: #f74f9e;
  padding: 0.1rem;
  margin-top: 2rem;
}

.content {
  flex: 1 0 auto;
  margin-top: 2rem;
}

.full-height-flex {
  flex-grow: 1;
}

.container {
  flex: 1;
}

.footer {
  font-size: 1.5rem;
  text-align: center;
  flex-shrink: 0;
  margin-top: 2rem;
}

.footer a {
  text-decoration: none;
  color: #000000;
}

.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 575px) {
  .flex-container {
    flex-direction: column;
  }
  .packinglist {
    margin-left: 40%;
  }
}

#map {
  height: 100%;
  min-height: 300px;
}

#marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.nav-link.active::before {
  content: ">";
}

.nav-link.active::after {
  content: "<";
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: transparent;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.1rem #000000;
}
